h1{
    text-align: center;
    color: chartreuse;
    margin: 36px;
    font-size: 49px;
    }
.header, .hero, .body, .bar, .footer{
background-color:black;
margin-bottom: 5px;
}





.box {
	min-height: 123px;
	background-color:#DA2267;

	margin-bottom: 8px;
	text-align: center;
    color: #fff;
	font-size: 30px;
	
}

.red{
	background-color:aqua;



}
span{
	color: black;
}